<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="sony" class="spring.impl.audio.Sony"/>
    <bean id="alpine" class="spring.impl.audio.Alpine"/>
    <bean id="garmin" class="spring.impl.navigation.Garmin"/>
    <bean id="audi2" class="spring.impl.car.Audi" scope="prototype">
        <constructor-arg ref="garmin"/>
        <constructor-arg ref="alpine"/>
    </bean>

</beans>